<div>
  <div>
    <h1>
      List of users
    </h1>
  </div>
</div>


<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Username
        </th>

        <th>
          Private?
        </th>

        <th>
          
        </th>

        <th>
          
        </th>

      </tr>

      <% @list_of_users.each do |an_actor| %>
      <tr>
        <td>
          <%= an_actor.username %>
        </td>

        <td>
          <%= an_actor.private %>
        </td>

       
        <td>
          <a href="/users/<%= an_actor.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
