<h1> <%=@current_user.username%> </h1>


<dl>
  <dt>Private</dt>
  <dd><%=@current_user.private%></dd>

  <dt>Followers</dt>
  <dd>
    <%=@current_user.private%>

    </div>

      <h4>Pending follow requests</h4>
      <% @list_of_follow_requests.each do |a_photo| %>
      <tr>
        <td>
          <%= a_photo.sender.username %>
        </td>

        <td>
            <form action="/modify_follow_request/1815" method="post">
              <input name="query_status" value="accepted" type="hidden">

              <button>
                Accept
              </button>
            </form>
        </td>
      </tr>
      <% end %>
    </table>

  
